body 
    {
    background-image: url('https://wallpaper.dog/large/238781.jpg');
     background-repeat : repeat;
     background-size: cover;
    font-family: 'Mitr', sans-serif;
    }

header 
    {
      background-color: rgb(90, 120, 126);
      color: white;
      height: 80px;
      padding: 10px;
      text-align: left;
    }
footer 
    {
      background-color: rgb(90, 120, 126);
      color: rgb(255, 255, 255);
      height: 50px;
      padding: 10px;
      text-align: center;
    }
.mainpage {width: 1024px; margin: 0 auto;}
    
.headname1 
    {
        color: rgb(255, 255, 255);
        font-size: 30px;
    }

.headname2
    {
        color: rgb(255, 255, 255);
        font-size: 15px;
    }

.graphic
    {
        background-image: url("images/chantaburi-cover.jpeg");
        height: 320px;
        padding: auto;
    }

.maps
    {
        border: 1px solid rgb(90, 120, 126);
        height: 300px;
    }
    
.top10
    {
        background-color: white;
        padding: 10px;
    }

.img10
    {
        width: 190px;
        border-radius: 10px;
    }

.topmenu
    {
        background-color: rgb(255, 255, 255);
        height: 40px;
    }