body 
    {
    background-image: url('https://st3.depositphotos.com/4072575/17211/i/450/depositphotos_172116316-stock-photo-grey-paper-texture-background-with.jpg');
     background-repeat : repeat;
     background-size: cover;
    font-family: 'Mitr', sans-serif;
    }

header 
    {
      background-color: rgb(63, 52, 52);
      color: white;
      height: 80px;
      padding: 10px;
      text-align: left;
    }
footer 
    {
      background-color: rgb(185, 156, 156);
      color: white;
      height: 50px;
      padding: 10px;
      text-align: center;
    }
.mainpage {width: 1024px; margin: 0 auto;}
    
.headname1 
    {
        color: rgb(218, 198, 198);
        font-size: 30px;
    }

.headname2
    {
        color: rgb(218, 198, 198);
        font-size: 15px;
    }

    .graphic{
        background-image: url("images/chantaburi-cover.jpeg");
        height: 320px;
        padding: auto;
    }
    