body 
    {
    background-image: url('https://i.pinimg.com/originals/d7/ee/80/d7ee80b39a2d73e36833155b312318ec.jpg');
     background-repeat : repeat;
     background-size: cover;
    font-family: 'Mitr', sans-serif;
    }

header 
    {
      background-color: rgb(63, 52, 52);
      color: white;
      height: 80px;
      padding: 10px;
      text-align: left;
    }
footer 
    {
      background-color: rgb(63, 52, 52);
      color: white;
      height: 50px;
      padding: 10px;
      text-align: center;
    }
.mainpage {width: 1024px; margin: 0 auto;}
    
.headname1 
    {
        color: rgb(218, 198, 198);
        font-size: 30px;
    }

.headname2
    {
        color: rgb(218, 198, 198);
        font-size: 15px;
    }

.graphic
    {
        background-image: url("images/chantaburi-cover.jpeg");
        height: 320px;
        padding: auto;
    }

.maps
    {
        border: 1px solid rgb(63, 52, 52);
        height: 300px;
    }
    
.top10
    {
        background-color: white;
        padding: 10px;
    }

.img10
    {
        width: 190px;
        border-radius: 10px;
    }